/* DB Robotstxt Admin Panel */

.db-rbt-admin h1 {
    font-size: 3em;
    margin-left: 30px;
    margin-bottom: .5em;
}

.db-rbt-admin h2 {
    font-size: 2em;
    margin-top: .5em;
}

.db-logo {
    float: right;
    margin: 0 0 10px 20px;
}

a.db-rbt-button {
    border: 1px solid #2271b1;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #2271b1;
    color: #fff;
    margin-left: 15px;
    padding: 5px 20px;
    text-decoration: none;
    white-space: nowrap;
}

a.db-rbt-button:active,
a.db-rbt-button:focus,
a.db-rbt-button:hover {
    border-color: #135e96;
    background: #135e96;
    text-decoration: none;
}

.db-rbt-header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-block: .5em;
    padding-block: .5em;
}

.db-rbt-header-col {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #fff;
    width: 100%;
}

.db-rbt-header-col-inner {
    padding: 30px;
}

.db-rbt-body {
    margin-block: .5em;
    padding-block: .5em;
}

.db-rbt-body > h2 {
    margin-left: 30px;
}

.db-rbt-description p {
    color: #525d65;
    font-size: 1.35em;
    margin: .5em 0;
}

.db-rbt-link p {
    color: #525d65;
    font-size: 1.35em;
}

.db-rbt-error {
    background: rgba(255,0,0,.2);
}

.db-rbt-success {
    background: rgba(0,200,55,.2);
}

.db-rbt-admin .form-table {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(255,255,255,.75);
    width: 100%;
}

.db-rbt-admin .form-table tr:first-child > :first-child {
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
}

.db-rbt-admin .form-table tr:first-child > :last-child {
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
}

.db-rbt-admin .form-table tr:last-child > :first-child {
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
}

.db-rbt-admin .form-table tr:last-child > :last-child {
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
}

.db-rbt-admin .form-table th,
.db-rbt-admin .form-table td {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    padding: 10px 30px;
}

.db-rbt-admin .form-table tr > :nth-child(1) {
    border-left: 0;
}

.db-rbt-admin .form-table tr:last-child th,
.db-rbt-admin .form-table tr:last-child td {
    border-bottom: 0;
}

.db-rbt-admin .form-table p {
    font-size: 1em;
}

.db-rbt-admin .form-table textarea {
    border-color: #ccc;
    margin: 15px 0;
}

.db-rbt-admin .form-table textarea:focus {
    border-color: #eee;
    box-shadow: 0 0 0 1px #2271b1;
}

.td-rbt-field-description {
    font-size: .9em;
    font-style: italic;
    font-weight: 400;
}

@media only screen and (min-width: 1200px) {

    .db-rbt-header {
        flex-direction: row-reverse;
    }

    .db-rbt-header-col {
        width: calc(50% - 15px);
    }
    
}